{% extends 'pages/baseRenderDataPage.html' %}

{% block table %}
    <table class="table table-striped champions-table">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th style="text-align: center">
                    Name
                </th>
                <th style="text-align: center">
                    Attack
                </th>
                <th style="text-align: center">
                    Magic
                </th>
                <th style="text-align: center">
                    Defense
                </th>
                <th style="text-align: center">
                    Difficulty
                </th>
                <th style="text-align: center">
                    Stats
                </th>
                <th style="text-align: center">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/statistics/drawChart.js') }}"></script>
<script src="{{ url_for('static', filename='js/pages/champions.js') }}"></script>
<script src="{{ url_for('static', filename='js/modals/multiImportModal.js') }}"></script>
{% endblock %}
