{% extends 'pages/baseRenderDataPage.html' %}

{% block table %}
<table class="table table-striped classes-table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Name
            </th>
            <th style="text-align: center">
                Actions
            </th>
        </tr>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/pages/classes.js') }}"></script>
{% endblock %}
