<div class="modal fade" id="chart-modal" tabindex="-1" aria-hidden="true" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl">
        <div class="modal-content h-100 shadow-lg">
            <div class="modal-header">
                <h5 class="mb-1 mr-4 text-nowrap modal-title"></h5>
            </div>
            <div class="modal-body d-flex flex-column">
                <h5 class="text-justify mb-1 mr-4 text-wrap modal-desc"></h5>
                </br>
                <div class="card">
                    <div class="card-body">
                        <p class="card-title"></p>
                        <canvas id="card-chart"></canvas>
                    </div>
                </div>
            </div>
            <div class="modal-footer px-3 py-2">
                <button data-dismiss="modal" class="btn btn-primary btn-cancel">Close</button>
            </div>
        </div>
    </div>
</div>
