<div class="modal fade text-left" id="import-process-modal" tabindex="1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Import Data</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <form action="#" id="import-files">
                <div class="modal-body">
                    <!-- <div class="mb-5">
                        <label>Student data file</label>
                        <input class="file file-block data-file" type="file" name="data_file" accept=".xlsx,.csv">
                    </div>
                    <div class="mb-5">
                        <label>Subject infor file</label>
                        <input class="file file-block infor-file" type="file" name="infor_file" accept=".xlsx,.csv">
                    </div> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-inverse-dark btn-fw" data-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block btn-close">Close</span>
                    </button>
                    <button type="button" class="btn btn-primary btn-process ml-1" disabled>
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Import</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
