<div class="modal fade text-left" id="import-process-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Import Data</h4>
            </div>
            <form action="#" id="import-files">
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-inverse-dark btn-fw" data-bs-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block btn-close">Close</span>
                    </button>
                    <button type="button" class="btn btn-primary btn-import ml-1" disabled>
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Import</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
