<div class="modal fade" id="show-table-modal" tabindex="-1" aria-hidden="true" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl">
        <div class="modal-content h-100 shadow-lg">
            <div class="modal-header">
                <h5 class="mb-1 mr-4 text-nowrap modal-title"></h5>
            </div>
            <div class="modal-body d-flex flex-column">
                <h5 class="text-justify mb-1 mr-4 text-wrap modal-desc"></h5>
                </br>
                <p class="count-result-info d-none"></p>
                <div class="w-100 flex-grow-1 border-top position-relative">
                    <div class="scroll-container">
                        <table class="border-top-0 mb-0 table table-bordered table-fix-head table-hover">
                            <thead class="header-table-modal">
                            <tr></tr>
                            </thead>
                            <tbody class="body-table-modal"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer px-3 py-2">
                <button data-bs-dismiss="modal" class="btn btn-primary btn-cancel">Close</button>
            </div>
        </div>
    </div>
</div>
